In [1]:
# for loop
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
for i in range(1,5):
    print(i)

1
2
3
4

In [3]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [5]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [6]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [7]:
name = "Chamidu"

for char in name:
    print(char)

C
h
a
m
i
d
u

In [8]:
# whule loop
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [9]:
# loop control statements
#break statement
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [10]:
# continue statement
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [11]:
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [12]:
# pass statement
for i in range(10):
    if i % 2 == 0:
        pass
    else:
        print(i)

1
3
5
7
9

In [13]:
for i in range(10):
    if i == 5:
        pass
    else:
        print(i)

0
1
2
3
4
6
7
8
9

In [14]:
# nested loops

for i in range(3):
    for j in range(3):
        print(f"i: {i}, j: {j}")

i: 0, j: 0
i: 0, j: 1
i: 0, j: 2
i: 1, j: 0
i: 1, j: 1
i: 1, j: 2
i: 2, j: 0
i: 2, j: 1
i: 2, j: 2

In [17]:
# calculate the sum of first n natural numbers using while and for loops

n = 10
# using for loop
sum_for = 0
for i in range(1, n+1):
    sum_for += i
print(f"Sum using for loop: {sum_for}")

# using while loop
sum_while = 0
count = 1
while count <= n:
    sum_while += count
    count += 1
print(f"Sum using while loop: {sum_while}")

Sum using for loop: 55
Sum using while loop: 55

In [21]:
# display the prime numbers between 1 and 50 using nested for loops

for num in range(2, 51):
    is_prime = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [23]:
for num in range(1,51):
    if num>1:
        for i in range(2,num):
            if (num % i) == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47