# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [2]:
# 1 
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(my_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [3]:
# 2

print(my_tuple[0]) # First element
print(my_tuple[-1]) # Last element
print(my_tuple[len(my_tuple)//2]) # Middle element

1
10
6

In [6]:
# 3
print(my_tuple[:3]) # First three elements
print(my_tuple[-3:]) # Last three elements
print(my_tuple[2:5]) # Elements from index 2 to 4

(1, 2, 3)
(8, 9, 10)
(3, 4, 5)

In [8]:
# 4
my_number = ((1,2,3),(4,5,6),(7,8,9))
print(my_number) # Print the entire tuple

# accessing the second row and third column
print(my_number[1][2])

((1, 2, 3), (4, 5, 6), (7, 8, 9))
6

In [10]:
# 6

# concatenation

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatinated_tuple = tuple1 + tuple2
print(concatinated_tuple)

(1, 2, 3, 4, 5, 6)

In [11]:
# 7

numbers = (1, 2, 3, 4, 5)
# unpacking
a,b,c,d,e = numbers
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

In [12]:
# 8

# packing

packed_tuple = 1, 2, 3, 4, 5
print(packed_tuple)

(1, 2, 3, 4, 5)

In [13]:
# 9

tpl_of_tpls = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print(tpl_of_tpls)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [18]:
# 10

my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

list_from_tuple = list(my_tuple)
print(list_from_tuple)

list_from_tuple.append(6)
my_tuple = tuple(list_from_tuple)
print(my_tuple)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5, 6)

In [22]:
# 11
string = "hello"
tpl = tuple(string)
joined_string = ''.join(tpl)
print(joined_string)

hello

In [23]:
# 12

tuple_dict = {
    (1,'chamidu'): 100,
    (2,'dewmi') : 200,
    (2,'binol'): 300
}

print(tuple_dict)

{(1, 'chamidu'): 100, (2, 'dewmi'): 200, (2, 'binol'): 300}

In [25]:
# 13

# Create a nested tuple and iterate over the elements, printing each element.

nested_tuple = ((1, 2), (3, 4), (5, 6))

for items in nested_tuple:
    for item in items:
        print(item)

1
2
3
4
5
6

In [26]:
# 14

# Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

my_tuple = (1, 2, 2, 3, 4, 4, 5)
my_set = set(my_tuple)
print(my_set)

{1, 2, 3, 4, 5}

In [27]:
# 15

# Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

def min_of_tuple(tpl):
    return min(tpl)

def max_of_tuple(tpl):
    return max(tpl)

def sum_of_tuple(tpl):
    return sum(tpl) 

sample_tuple = (1, 2, 3, 4, 5)
print("Minimum:", min_of_tuple(sample_tuple))
print("Maximum:", max_of_tuple(sample_tuple))
print("Sum:", sum_of_tuple(sample_tuple))

Minimum: 1
Maximum: 5
Sum: 15